<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participantes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/locale/pt-br.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.13/plugin/relativeTime.min.js"></script>
  </head>
  <body class="min-h-screen min-w-screen p-2">
    <div class="border rounded-md p-2 flex items-center justify-between">
      <a href="/participante" class="text-xl font-semibold">Participantes</a>
      <div class="flex items-center gap-2">
        <a href="/categoria">Categorias</a>
        <a href="/cliente">Clientes</a>
        <a href="/">Eventos</a>
        <a href="/local">Locais</a>
      </div>
      <div class="flex items-center gap-2">
        <div class="border px-2 py-1 rounded-md flex items-center gap-2">
          <input
            class="focus:outline-none"
            type="text"
            name="nome"
            id="nome"
            placeholder="Digite alguma coisa..."
          />
          <img
            class="hover:cursor-pointer"
            src="/search.png"
            onclick="redirectToSearch()"
          />
        </div>
        <button
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Entrar
        </button>
      </div>
    </div>
    <div class="mt-2">
      <% if (!participante) { %>
      <p
        class="h-[calc(100vh-5rem)] w-full flex items-center justify-center text-center"
      >
        Não encontrado
        <a
          href="/participante"
          class="ml-1 underline text-blue-500 visited:text-violet-500"
        >
          voltar
        </a>
      </p>
      <% } else { %>
      <div class="flex gap-2 flex-wrap">
        <div
          class="border rounded-md p-2 gap-2 flex flex-col w-full h-[calc(100vh-5rem)]"
        >
          <span class="flex items-center gap-2">
            <a href="/participante">
              <img
                src="/chevron-left.png"
                class="rounded-full hover:bg-zinc-300/50 transition-colors"
              />
            </a>
            Detalhes do participante
          </span>
          <div class="flex flex-col gap-1">
            <span>ID: <%=participante.id%></span>
            <span>ID do Cliente: <%=participante.idCliente%></span>
            <span>ID do Evento: <%=participante.idEvento%></span>
            <span>
              Criado
              <span id="createdAt"></span>
            </span>
            <span>
              Atualizado
              <span id="updatedAt"></span>
            </span>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <script src="https://cdn.tailwindcss.com" defer></script>
    <script>
      dayjs.locale("pt-br");
      dayjs.extend(dayjs_plugin_relativeTime);
      document.getElementById("createdAt").textContent = dayjs(
        "<%=participante.createdAt%>"
      ).fromNow();
      document.getElementById("updatedAt").textContent = dayjs(
        "<%=participante.updatedAt%>"
      ).fromNow();
    </script>
  </body>
</html>
