<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participantes</title>
    <script>
      function atualizarParticipante() {
        const idCliente = document.getElementById("idCliente").value.trim();
        const idEvento = document.getElementById("idEvento").value.trim();
        fetch("/participante/<%=participante.id%>", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            idCliente,
            idEvento,
          }),
        })
          .then((response) => {
            if (response.ok) {
              window.location.href = "/participante";
            } else {
              alert("Erro ao atualizar participante.");
            }
          })
          .catch((error) => {
            console.error(error);
            alert("Erro ao atualizar participante.");
          });
      }
    </script>
  </head>
  <body class="min-h-screen min-w-screen p-2">
    <div class="border rounded-md p-2 flex items-center justify-between">
      <a href="/participante" class="text-xl font-semibold">Participantes</a>
      <div class="flex items-center gap-2">
        <a href="/categoria">Categorias</a>
        <a href="/cliente">Clientes</a>
        <a href="/">Eventos</a>
        <a href="/local">Locais</a>
      </div>
      <div class="flex items-center gap-2">
        <a
          href="/participante/cadastrar"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Criar
        </a>
        <button
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors"
        >
          Entrar
        </button>
      </div>
    </div>
    <div
      class="h-[calc(100vh-5rem)] w-full flex items-center justify-center text-center"
    >
      <form class="flex flex-col items-center gap-2">
        <select
          name="idCliente"
          id="idCliente"
          required
          value="<%=participante.idCliente%>"
          class="border rounded px-2.5 py-1.5 outline-none w-full bg-transparent"
        >
          <option value="" disabled>Selecione um cliente</option>
          <% clientes.forEach((cliente) => {%>
          <option
            selected="<%= cliente.id == participante.idCliente%>"
            value="<%=cliente.id%>"
          >
            <%=cliente.nome%>
          </option>
          <%})%>
        </select>
        <select
          name="idEvento"
          id="idEvento"
          required
          value="<%=participante.idEvento%>"
          class="border rounded px-2.5 py-1.5 outline-none w-full bg-transparent"
        >
          <option value="" disabled>Selecione um evento</option>
          <% eventos.forEach((evento) => {%>
          <option
            value="<%=evento.id%>"
            selected="<%= evento.id == participante.idEvento%>"
          >
            <%=evento.nome%>
          </option>
          <%})%>
        </select>
        <button
          onclick="atualizarParticipante()"
          type="button"
          class="bg-zinc-700 text-zinc-50 px-2.5 py-1.5 rounded-md hover:bg-zinc-600 transition-colors w-full"
        >
          Atualizar
        </button>
      </form>
    </div>
    <script src="https://unpkg.com/@tailwindcss/browser@4" defer></script>
  </body>
</html>
